.header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  padding-top: 47px;
  /* padding: 47px 70px 0; */
  box-sizing: border-box;
}
