.card__description {
  padding-right: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .card__description {
    padding: 0;
  }
}
