.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 83px 155px 132px 70px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 83px 35px 132px;
    }
}

@media screen and (max-width: 690px) {
    .intro {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding: 45px 16px;
    }
}
