.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 225px);
    padding: 83px 155px 132px 70px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 83px 35px 132px;
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 690px) {
    .intro {
        flex-direction: column;
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding: 45px 16px;
    }
}
