.card__image {
  width: 640px;
  height: 640px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1024px) {
  .card__image {
    width: 440px;
    max-width: 100%;
    height: auto;
  }
}
