.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* justify-content: space-between;
  flex-direction: row; */
}

/* .card:nth-child(2n - 1) {
  flex-direction: row-reverse;
} */

